/* GLOBAL STYLES */

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video {
    display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;
}

* { 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
}

html {
    font-size: 64.5%;
    width: 100vw;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
} 

body {
    background-color: #ededed;
    font-family: 'Playfair Display', sans-serif;
}

img {
    width: 100%;
    padding: 0;
    display: block;
    margin: 0;
}

h1 {
    float: left;
    font-size: 4.5rem;
    margin: 0 140px;
}

h2 {
    font-size: 4rem;
    margin: 15px 0;
}

h3 {
    font-size: 3.8rem;
    line-height: 60px;
}

h4 {
    font-size: 2.6rem;
}

h5 {
    font-size: 2.4rem;
    margin: 10px 0;
}

h6 {
    font-size: 1.6rem;
}

p {
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

p, li {
    font-size: 1.2rem;
    margin: 0;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

p.pSmall {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 14px;
    color: #999;
    margin:0;
    margin-bottom: 20px;
}

p.darkGrey {
    color: #666;
}

hr {
    width: 66px;
    margin: 0;
}

strong {
    color: black;
    font-weight: 700;
}

em {
    font-style: normal;
    font-weight: 700;
    color: black;
    font-family: "Playfair Display", sans-serif;
}

header {
   padding: 0;
   margin: 0;
   clear: both;
   background-color: white;
}

.main {
    background-color: #ccc;
}

.fa-plane {
    transform:rotate(315deg);
}

.grey {
    color: #CCCCCC;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto; 
}

.visuallyhidden:not(:focus):not(:active) { 
    position: absolute; 
    width: 1px; 
    height: 1px; 
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: 
    nowrap;clip-path: inset(100%);
    clip: rect(00 0 0);
    overflow: hidden;
}

/* NAV STYLES */
.headerNav {
    background-color: #fff;
    height: 100%;
    padding-top: 25px;
    padding-bottom: 45px;
    margin: 0;
}

.headerNav ul {
    position: relative;
}

.headerNav ul li {
    font-weight: 700;
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    text-transform: uppercase;
    margin-right: 28px;
    margin-top: 30px;
}

.headerNav li:nth-of-type(3) {
    margin-right: 0;
}

.headerNav a {
    color: black;
}

.headerNav a:hover {
    color: #999;
}

.headerNav i {
    margin-top: 32px;
    font-size: 16px;
    margin-right: 28px;
}

.headerNav i:hover {
    color: #999;
}

.headerNav li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.cartAmount {
    width: 15px;
    height: 15px;
    text-align: center;
    padding-top: 3px;
    border-radius: 50%;
    color: black;
    position: absolute;
    background-color: #a4f1dc;
    right: 30px;
    bottom: -8px;
}

.cartAmount p {
    font-size: 10px;
    position: relative;
    top: -2px;
}

/* FORM STYLES */
/* global form */
form {
    width: 100%;
}

.contactForm input:focus, 
.contactForm textarea:focus,
.commentName:focus,
.commentEmail:focus,
.commentSubject:focus,
.commentText:focus {
    border-bottom: 1px solid black;
    color: black;
}

.commentSubject {
    margin-right: 0;
}

.commentName, 
.commentEmail,
.contactName,
.contactEmail {
    margin-right: 27px;
}

/* blog form */
.commentEmail, 
.commentName, 
.subjectName {
    width: 275px;
    float: left;
    border: 0;
    border-bottom: 1px solid #999;
    color: #999;
    margin-top: 30px;
    padding: 8px 0;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
}

.leaveComment h5 {
    color: black;
}

.commentText {
    clear: both;
    margin-top: 0;
    font-family: 'Poppins', sans-serif;
    color: #999;
    font-size: 13px;
    border: none;
    overflow: auto;
    outline: none;
    resize: none;
    border-bottom: 1px solid #999;
    width: 100%;
    height: 170px;
    margin: 30px 0;
}

.leaveAComment {
    background-color: #84a016;
    clear: both;
    color: white;
    width: 180px;
    border: 0;
    height: 45px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* contact form */
 .contactName, 
 .contactEmail, 
 .contactSubject {
    background-color: white;
    border: 0;
    float: left;
    color: #999;
    width: 300px;
    border-bottom: 1px solid #999;
    margin-top: 10px;
    padding: 8px 0;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
}

.contactMessages {
    clear: both;
    font-family: 'Poppins', sans-serif;
    color: #999;
    font-size: 13px;
    border: none;
    overflow: auto;
    outline: none;
    resize: none;
    border-bottom: 1px solid #999;
    width: 100%;
    height: 170px;
    margin: 30px 0;
}

.contactSubmit {
    background-color:white;
    clear: both;
    font-family: 'Poppins', sans-serif;
    color:#000;
    font-weight: 700;
    border: 0;
    letter-spacing: 0.5px;
    font-size: 12px;
    border-bottom: 1px solid #999;
    width: 105px;
    padding: 10px 0;
    height: 35px;
    text-transform: uppercase;
    margin-top: 30px;
}

/* INDEX STYLES */
/* about intro section */
.aboutIntro {
    background-color: #ededed;
    margin: 0 auto;
    width: 800px;
    text-align: center;
}

.aboutIntro p:last-of-type {
    padding: 20px 0;
}

.aboutIntro .pSmall {
    margin-top: 80px;
    margin-bottom: 80px;
}

.aboutIntroImg {
    width: 320px;
    margin-bottom: 30px;
    float: left;
    background-color: white;
    padding: 10px;
    margin-right: 60px;
}

.aboutIntroText {
    width: 800px;
    text-align: left;
    padding-top: 3px;
}

.aboutIntroText p {
    line-height: 30px; 
    color: #999999;
}

.aboutIntro hr {
    border-top: 3px solid black;
}

.circle {
    width: 180px;
    position: relative;
    bottom: 130px;
    left: -95px;
}

/* more about section */
.about p {
    color: #999999;
    line-height: 25px;
}

.about h6 {
    margin: 10px 0;
    text-transform: uppercase;
}

.about li {
    margin: 30px 0;
}

.about {
    background-color: white;
    width: 100%;
}

.aboutImg {
    float: left;
    width: 37%;
}

.aboutInfo {
    float: left;
    width: 63%;
    padding: 2% 0;
    height: 100%;
    transform: translateY(10%);
}

.aboutLeft, 
.aboutRight {
    width: 35%;
    float: left;
}

.aboutLeft p, 
.aboutRight p {
    margin-top: 10px;
}

.aboutLeft {
    margin-left: 200px;
}

.aboutRight {
    float: left;
    margin-left: 10px;
}

.aboutHeader {
    text-transform: uppercase;
    color: black;
    position: relative;
}

.aboutHeader::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '';
    font-size: 3rem;
    float: left;
    position: absolute;
    top: 0;
    left: -45px;
}

.aboutHeader1::before {
    content: '\f185';
}

.aboutHeader2::before {
    content: '\f072';
    transform: rotate(310deg);
}

.aboutHeader3::before {
    content: '\f06c';
}

.aboutHeader4::before {
    content: '\f2e7';
}

.aboutHeader5::before {
    content: '\f000';
}

.aboutHeader6::before {
    content: '\f0f3';
}

/* testimonials section */
.testimonialsExplore {
    position: relative;
    text-align: center;
    padding: 140px 0;
    background-image: url("images/backgroundImage.png");
    background-repeat: repeat;
}

.testimonials i {
    margin: 10px;
}

.testimonials h6 {
    margin-top: 50px;
    font-weight: 400;
    font-style: italic;
    line-height: 30px;
}

.testimonials {
    text-align: center;
    padding: 70px;
    position: relative;
    background-color: white;
    width: 960px;
    margin: 0 auto;
} 

.fa-chevron-left {
    position: absolute;
    top: 45%;
    left: -7%;
    font-size: 25px;
}

.fa-chevron-right {
    position: absolute;
    top: 45%;
    right: -7%;
    font-size: 25px;
}

.fa-chevron-left path, 
.fa-chevron-right path {
    stroke: none;
    fill: #000;
}

.fa-chevron-left path:hover, 
.fa-chevron-right path:hover {
    fill: #999;
}

.rating {
    margin: 0 auto;
    text-align: center;
    width: 200px;
    padding: 0 50px;
}

.testimonials p:last-of-type {
    clear: both;
    padding: 30px 0;
    color: #999;
}

.testimonials a {
    color: #000;
}

.testimonials a:hover {
    color: #999;
}

.testimonials .fa-star {
    color: #DEAE41;
    margin: -0.5px;
    font-size: 16px;
}

.testimonials .fa-star path:hover {
    fill: #DEAE41;
}

/* gallery section */
.gallerySection {
    text-align: center;
    clear: both;
    padding-top: 100px;
}

.galleryImg {
    width: calc(33.3% - 13px);
    float: left;
    margin-right: 20px;
}

.img1, 
.img2, 
.img3 {
    margin-bottom: 20px;
}

.img3, 
.img6 {
    margin: 0;
}

/* BLOG STYLES */

/* global */
.blogMain .wrapper {
    background-color: #fff;
    position: relative;
    top: -110px;
    padding: 40px;
}

.blogBody h3 {
    text-align: center;
}

.blogBody h5 {
    margin-bottom: 20px;
}

.blogBody h6 {
    margin: 6px 0;
    margin-bottom: 15px;
    font-weight: 600;
}

.blogMain hr {
    clear: both;
    width: 100%;
    display: block;
    height: 0.5px;
    border: 0;
    border-top: 1px solid #d5d5d5;
    padding: 0; 
}

.blogMain a {
    color: #999;
}

.blogMain a:hover {
    color: black;
}

.blogNav {
    text-align: center;
}

.black {
    color: black;
    margin-top: 40px;
}

/* article section */
article {
    text-align: left;
}

.articleInfo {
    float: left;
    margin-top: 40px;
    margin-bottom: 20px;
    line-height: 10px;
    width: 160px;
}

.articleInfo p {
    color: #999;
    clear: both;
}

.articleInfo1 {
    width: 330px;
}

.related {
    text-align: left;
    padding-top: 50px;
}

article img:first-of-type {
    width: 60px;
    border-radius: 50%;
    float: left;
    margin-top: 30px;
    margin-right: 10px;
}

article > p {
    margin: 30px 0;
    color: #999;
    line-height: 22px;
}

article p:last-of-type {
    padding-bottom: 20px;
}

article h6:last-of-type {
    float: left;
    margin-right: 15px;
    font-family: "Playfair Display", serif;
}

article i {
    font-size: 16px;
    color: #d5d5d5;
    float: left;
    margin-top: 10px;
    margin-right: 15px;
}

article i:hover {
    color: #00ccff;
}

/* related posts section */
.related {
    clear: both;
    width: 100%;
}

.related hr {
    margin-bottom: 30px;
}

.related p {
    color: #999;
}

.related a {
    color: black;
    text-decoration: none;
}

.relatedPost {
    width: 273px;
    margin-right: 30px;
    float: left;
    box-shadow: 0px 4px 2px -4px #999;
}

.relatedPost3 {
    margin-right: 0;
}

.relatedPost:hover {
    box-shadow: 0px 15px 20px -5px #888;  
}

.relatedPost h6 > a:hover {
    text-decoration: underline;
}

.relatedInfo {
    padding: 10px;
    padding-top: 20px;
    border-left: 1px solid #f6f6f6;
    border-right: 1px solid #f6f6f6;
}

.relatedInfo h6 + a {
    display: block;
    font-family: 'Poppins', sans-serif;
    margin: 20px 0;
    color: #999;
    font-weight: 700;
}

.relatedInfo h6 + a:hover {
    color: black;
}

.related h6 {
    margin: 10px 0;
    font-weight: 700;
}

/* comment section */
.comments, 
.leaveComment {
    text-align: left;
    padding-top: 80px;
}

.comments hr {
    margin-bottom: 20px;
}

.leaveComment h5 {
    margin-bottom: 20px;
}

.comment p {
    line-height: 30px;
}

.comment a, 
.comment p:first-of-type  {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
}

.comment a + p {
    color: #666;
}

.tiny {
    color: #999;
    font-size: 1.1rem;
}

.comment a {
    color: #33cccc;
    font-style: italic;
    font-size: 12px;
}

.fullComment {
    padding: 20px;
    margin: 20px 0;
    width: 780px;
    float: left;
}

.commentImg {
    float: left;
    margin-top: 20px;
    margin-right: 30px;
    width: 65px;
}

.commentImg2 {
    clear: both;
}

.speech-bubble {
	position: relative;
	background: #f6f6f6;
	border-radius: .4em;
}

.speech-bubble::after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
    border-bottom: solid 6px transparent;
    border-top: solid 6px transparent;
    border-left: solid 13px transparent;
    border-right: solid 13px #f6f6f6;
    top: 10px;
    left: -26px;
	margin-top: 10px;
}

/* CONTACT STYLES */
/* global */
.contact  {
    clear:both;
    background-color: white;
}

.contactMain {
    width: 100%;
    padding-top: 50px;
    background-color: white;
}

.contactImg {
    float: left;
    width: 750px;
}

.contactInfo {
    float: left; 
    padding-left: 80px;
    padding-top: 70px;
}

.contact p {
    color: #666;
}

.contactInfo h5, 
.contactInfo strong {
    font-family: "Playfair Display", serif;
}

.contact h2 {
    margin: 0;
}

.contact h5:first-of-type {
    padding-top: 80px;
}

.contact p:nth-of-type(4) {
    margin-top: 10px;
    margin-bottom: 80px;
}

.contact p:last-of-type {
    font-weight: 700;
    margin: 0;
    color: #999;
    margin-top: 5px;
}

/* contact details section */
.contactMain h3 {
    margin: 0;
    margin-bottom: 10px;
}

.contactDetails {
    width: 500px; 
}

/* contact methods section */
.contactMethods {
    width: 100%;
}

.contactMethods p {
    margin: 5px 0;
    color: #999;
}

.method h6 {
    margin: 5px 0;
}

.method {
    width: 300px;
    padding-left: 20px;
    margin-right: 30px; 
    margin-top: 30px;
    padding-bottom: 30px;
    float: left;
    border-right: 1px solid #ddd;
}

.method3 {
    margin: 0;
    margin-top: 30px;
    border: 0;
}

.contactForm {
    clear: both;
    padding-bottom: 80px;
}

.contactForm p {
    padding-bottom: 80px;
    color: #999;
}

.contactForm h3 {
    padding-top: 40px;
}

.leaveComment {
    text-align: left;
}

/* FOOTER STYLES */
footer {
    background-color: #212020;
    padding-top: 70px;
    padding-bottom: 0;
    margin: 0;
}

footer p {
    color: #999;
    line-height: 24px;
}

.footerNav li a {
    font-family: 'Poppins', sans-serif;
    color: #999;
    padding: 0;
    margin: 5px 0;
    display: block;
    font-size: 1.2rem
}

.footerNav li {
    list-style: none;
}

.footerNav {
    float: left;
    width: 53%;
    margin-bottom: 30px;
}

.footerNav ul {
    float: left;
    width: 50%;
    padding: 0;
}

footer a:hover {
    color: white;
}

.newsletter {
    float: left;
    width: 47%;
}

.newsletterInput {
    background-color: #212020;
    border: 0;
    color: #ccc;
    width: 100%;
    border-bottom: 1px solid #999;
    margin-top: 5px;
    padding: 8px 0;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    background-image: url(images/paper-plane-regular.svg);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 20px 20px;
}

.bottomFooter {
    clear: both;
    padding: 20px 0;
    margin: 0;
    text-align: left;
}

.bottomFooter .wrapper {
    border-top: 1px solid #999;
    padding-top: 30px;
}

.bottomFooter p {
    float: left;
    color: #999;
}

.bottomFooter .fa-instagram,
.bottomFooter .fa-twitter,
.bottomFooter .fa-facebook-f {
    float: right;
    font-size: 1.8rem;
    color: #fff;
    margin: 0;
    margin-left: 40px;
}

.bottomFooter .fa-facebook-f:hover,
.bottomFooter .fa-twitter:hover,
.bottomFooter .fa-instagram:hover {
    color: #999;
}
